body {
    font-size: 67.5%;
    font-family: 'Roboto', sans-serif;
    background: url(./assets/carbonFibre.webp);
    padding: 0;
    margin: 0;
    background-size: auto;
    background-repeat: repeat;
}

header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(163, 161, 161);
}

.contentWrapper {
    margin: 0 auto;
    max-width: auto;
    padding: 0 3em;
}

nav {
    color: #000;
    font-size: 1.7em;
    letter-spacing: 0.04em;
    padding: 1em 1em 0.5em;
    margin: 1em 0;
}

nav#utilityMenu {
    display: block;
    min-width: 660px;
    margin: 0;
    padding: 0;
    border: solid 2px darkgrey;
    background-color: black;
    height: 2em;
    align-items: center;
}

nav#utilityMenu ul li.acctNav a, nav#utilityMenu ul li.acctNav a:visited {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    height: 1.3em;
    padding: 0.5em;
    margin: -1em 0 0 0;
    font-size: 0.8em;
}

nav#utilityMenu li {
    padding: 0 0.25em 0 0.2em;
    vertical-align: middle;
}

.socialIcon {
    margin-top: 7px;
}

input[type="search" i] {
    appearance: auto;
    box-sizing: border-box;
    padding: 2px 0 2px 0;
    background-color: grey;
    vertical-align: middle;
    margin-bottom: 2px;
}

input[type="search"]::placeholder {
    color: white;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: middle;
}

nav li {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

li.acctNav {
    border: solid 2px grey;
    border-radius: 25%;
    padding-bottom: -10em;
    vertical-align: top;
}

#title {
    font-size: 50px;
    font-family: 'Caprasimo', cursive;
    margin-top: 25px;
    margin-bottom: -10px;
}

.shopBy {
    display: flex;
	background-color: rgba(122, 122, 117, 0.685);
	margin: 0 0 2.0em;
	padding: 1.5em  0 2.0em 1.5em;
	display: inline-block;
	border-radius: 2em;
	box-shadow: 1px 1px 5px #777;
}

#formatSec {
    text-align: center;
}

section div.panel {
    float: left;
	position: relative;
	width: 250px;
    margin: 0 0.5em 2.0em 0.5em;
	padding: 1.0em;
	background-color: #fff;
	border: #ccc solid 1px;
	border-radius: 0.6em;
    height: 100px;
}

footer {
	background-color: rgba(122, 122, 117, 0.685);
	height: 25px;
	font-size: 1.2em;
	color: #fff;
	width: 100%;
	text-align: center;
	padding: 1.5em 2.0em;
}

footer ul#footerSec {
	display: inline-block;
	list-style: none;
	margin: 0 0 0 0.6em;
	padding: 0;
}

footer ul li {
	display: inline-block;
	padding: 0 0.7em 0 0;
	margin: 0;
}

footer ul li::before {
	content: "| ";
	padding-right: 0.7em;
}
